* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.paleta{
  background-color: rgba(251, 202, 65);
  background-color: rgba(251, 186, 4);
  background-color: rgba(220, 162, 4);
  background-color: rgba(37, 37, 45);
  background-color: rgba(18, 18, 23);
  background-color: rgba(6, 6, 8);
}

body {
  width: 100vw;
  height: 100vh;
}

#page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(6, 6, 8);
  overflow: hidden;
}

#headerAndNav {
  width: 100%;
  height: 15%;
  position: relative;
  background-color: rgba(6, 6, 8);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
  
}

#header {
  width: 70%;
  height: 100%;
  background-color: rgb(194, 138, 247);
  z-index: 20;
  border-radius: 0 0 45px 45px;
}

#header img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 40px 40px;
}

#navGroup {
  width: 64%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
}

/*Ale jest kurwa batalia tutaj daj spokój*/

.nav {
  width: 16%;
  height: 100%;
  border-radius: 0 0 25px 25px;
  background-color: rgba(251, 202, 65);
  position: absolute;
  transform: translateY(30%);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: rgba(6, 6, 8);
  text-align: center;
  transition: ease-in-out 0.3s;
}

#navGroup h3 {
  max-height: 41.5px;
}

#rulesIcon {width: 38px;}
#calcIcon {width: 29px;}
#authorsIcon {width: 50px;}

#rulesIcon, #calcIcon, #authorsIcon {
  transition: ease-in-out 0.3s;
  padding-top: 2px;
}

#nav1 { left: 0%; }
#nav2 { left: 21%; }
#nav3 { left: 42%; }
#nav4 { left: 63%; }
#nav5 { left: 84%; }

.nav:hover {
  transform: translateY(100%);
  justify-content: center;
  padding-bottom: 60px;
}

.nav:hover #rulesIcon {width: 100px; padding-top: 5px;}
.nav:hover #calcIcon {width: 77px; padding-top: 5px;}
.nav:hover #authorsIcon {width: 120px; padding-top: 5px;}

/* koniec batalii*/

#slider {
  position: fixed;
  transform: translateY(-30%);
  transition: transform clip-path ease-in-out 1s;
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(37, 37, 45);
  color: rgba(251, 202, 65);
  z-index: 10;
  overflow: hidden;
  clip-path: inset(50% 50% 50% 50%);
}

#mainContent {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(37, 37, 45);
  color: rgba(251, 202, 65);
}

#bartoszyce {
  border: 2px solid black;
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px auto;
  display: block;
  background-color: rgba(220, 162, 4);
  cursor: pointer;
}

/* WYKRES.HTML */

#chartDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#chartDiv h1 {
  padding-bottom: 30px;
}

/* KALKULATOR.HTML */

.calculator {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(37, 37, 45);
  color: rgba(251, 202, 65);
  border: 1px rgba(220, 162, 4) solid;
  text-align: center;
}

.calculatorWrapper {
  background-color: rgba(220, 162, 4);
  border-radius: 13%;
  width: 80%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% repeat(5, 1fr);
  grid-template-areas:
  'display display display'
  'button7 button8 button9'
  'button4 button5 button6'
  'button1 button2 button3'
  '. button0 buttonClear'
  'buttonZ buttonNa buttonCalc';
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.calculator input, .calculator select, .calculator option{
  border: 0;
  border-radius: 15px;
  background-color: rgba(6, 6, 8);
  color: rgb(220, 162, 4);
}

#z, #na, #zPodatek, #naPodatek {
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 45);
  font-size: 20px;
  border-radius: 40px;
}

#z:hover, #na:hover{
  cursor: pointer;
  background-color: rgba(18, 18, 23);
}

.calculatorDivs {
  width: 70%;
  height: 80%;
  place-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(37, 37, 45);
  color: rgb(220, 162, 4);
  border: 0;
  border-radius: 40px;
  font-size: 25px;
  word-break: break-all;
}

.calculatorDivs:hover:not(.display) {
  cursor: pointer;
  background-color: rgba(18, 18, 23);
}

.calculatorDivs select:hover {
  cursor: pointer;
  background-color: rgba(18, 18, 23);
}

.display, .displayTax{
  grid-area: display; 
  background-color: rgba(6, 6, 8);
  width: 100%;
  height: 100%;
  font-size: 13px;
  padding-left: 15px;
}

.button1{grid-area: button1;}
.button2{grid-area: button2;}
.button3{grid-area: button3;}
.button4{grid-area: button4;}
.button5{grid-area: button5;}
.button6{grid-area: button6;}
.button7{grid-area: button7;}
.button8{grid-area: button8;}
.button9{grid-area: button9;}
.button0{grid-area: button0;}
.buttonZ{grid-area: buttonZ; width: 100%;}
.buttonNa{grid-area: buttonNa; width: 100%;}
.buttonCalc{grid-area: buttonCalc;}
.buttonClear{grid-area: buttonClear; color: red; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

/* RYBY.HTML */

#game{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

#description {
  width: 25%;
  height: auto;
  margin-bottom: 5px;
  padding: 15px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(251, 202, 65);
}

/* AUTORZY.HTML */

.authors {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.authors p {
  font-size: 13px;
  font-family: 'Courier New', Courier, monospace;
}

.authorsImg {
  width: 70%;
  border: 2px rgb(250, 187, 70) solid;
  border-radius: 0 0 15px 15px;
}

.authors h3 {
  text-align: center;
  font: bold 25px Verdana;
}

#centerAuthors {
  width: 20%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.smallAuthors {
  width: 45%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.smallAuthorsImg {
  width: 100%;
  border: 2px rgb(250, 187, 70) solid;
  border-radius: 0 0 15px 15px;
}

.smallAuthors h5 {
  text-align: center;
  font: bold 20px Verdana;
  
}